# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/x64
/CppRay/x64
/libHittables/x64
/libMaterials/x64
/libPerlinNoise/x64
/libRay/x64
/libTextures/x64
/PerlinNoiseSample/x64
/CppRay/Spheres.bmp
/PerlinNoiseSample/perlin.bmp
/PerlinNoiseSample/perlin2.bmp
/CppRay/CppRay.vcxproj.filters
/libHittables/libHittables.vcxproj.filters
/libMaterials/libMaterials.vcxproj.filters
/libPerlinNoise/libPerlinNoise.vcxproj.filters
/libRay/libRay.vcxproj.filters
/libTextures/libTextures.vcxproj.filters
/PerlinNoiseSample/PerlinNoiseSample.vcxproj.filters
/CppRay/CppRay.vcxproj.user
/libHittables/libHittables.vcxproj.user
/libMaterials/libMaterials.vcxproj.user
/libPerlinNoise/libPerlinNoise.vcxproj.user
/libRay/libRay.vcxproj.user
/libTextures/libTextures.vcxproj.user
/PerlinNoiseSample/PerlinNoiseSample.vcxproj.user
/CppRay/Spheres15.bmp
/CppRay/Spheres30.bmp
/CppRay/Spheres45.bmp
/CppRay/Spheres60.bmp
/CppRay/Spheres75.bmp
/CppRay/Spheres90.bmp
